/* home.php */

body {
	background-color: #F5F5F5;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none; /* Pour pas qu'il souligne les liens */
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	color: #1E1E1E;
	margin-left: 20px; /* Pour que le nom ne soit pas collé au logo */
}

nav {
	margin: 0;
	overflow: hidden;
}

.navbar-nav {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-nav > .active > a > h1 {
	color: #7D8B96;
}

.nav-item {
	display: inline-block;
	list-style-type: none;
}

.nav-item a {
	display: block;
	padding: 0px 2em;
}

.nav-item:first-child {
	margin-right: auto;
}

.nav-item a.logo {
	display: flex;
	align-items: center;
}

.nav-item a:hover {
	text-decoration: underline;
	color: #7D8B96;
	text-underline-offset: 10px;
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #7D8B96;
}

footer a:hover {
	text-decoration: underline;
	color: white;
	text-underline-offset: 10px;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	color: #F5F5F5;
}

/* products.php */

.Product {

}

/* books.php */

/* buy.php */

/* update.php */

/* search.php */

/* about_us.php */

/* contact.php */

/* legal.php */



